<h1>Person List</h1>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <ng-container *ngFor="let person of persons; let i = index">
        <tr>
          <td><input type="text" #id id="{{i}}" value="{{person.id}}" style="width: 50px;"/></td>
          <td><input type="text" #name name="{{i}}" value="{{person.name}}" style="width: 200px;"/></td>
          <td style="width: 30px;">{{person.age}}</td>
          <td><input type="button" value="GetThisPerson" (click)="getPersonDetails(i)"></td>
          <!-- <td><button (click) = "updatePerson(person.id)" class = "btn btn-info"> Update</button></td> -->
          <td><button type="button" class="delete" title="delete person"(click)="delete(person)">Delete</button></td>
        </tr>
    </ng-container>
</table>

<div>
    <label for="new-person">Person name: </label>
    <input id="new-person" #personName />
    <label for="new-personSge">Person Age: </label>
    <input style="width: 25px;" id="new-personSge" #personAge />
  
    <button type="button" class="add-button" (click)="add(personName.value, personAge.value); personName.value=''; personAge.value=''">
      Add Person
    </button>
  </div>
